<%- include("header") -%>
    <h2>this is an about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maxime! Nostrum cumque sint quidem sapiente
        debitis
        totam numquam nobis deserunt inventore necessitatibus. Aperiam voluptatum consequatur nostrum inventore fugit
        aspernatur minus!</p>
    <%- include("footer") -%>